easyocr==1.7.2
gdown==5.2.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
Pillow==11.2.1
torch==2.7.0
torchvision==0.22.0
google-api-python-client==2.170.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
google-generativeai==0.8.5